@page
@model IndexModel
@{
    ViewData["Title"] = "Jhon-Develop";
}

<main>
    <div class="card mt-5" style="max-width: auto; height: auto;">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="https://img.freepik.com/free-vector/businessman-holding-pencil-big-complete-checklist-with-tick-marks_1150-35019.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">To-Do List</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid labore sint et laudantium ipsa hic natus sit iste? At obcaecati voluptatibus molestias veritatis similique dolorem quibusdam unde possimus doloremque magni!</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid labore sint et laudantium ipsa hic natus sit iste? At obcaecati voluptatibus molestias veritatis similique dolorem quibusdam unde possimus doloremque magni!</p>
                    <p class="card-text"><small class="text-body-secondary">You can do it.</small></p>
                </div>
            </div>
        </div>
    </div>
        <div class="card mt-5" style="max-width: auto; height: auto;">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="https://img.freepik.com/free-vector/businessman-holding-pencil-big-complete-checklist-with-tick-marks_1150-35019.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">To-Do List</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid labore sint et laudantium ipsa hic natus sit iste? At obcaecati voluptatibus molestias veritatis similique dolorem quibusdam unde possimus doloremque magni!</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid labore sint et laudantium ipsa hic natus sit iste? At obcaecati voluptatibus molestias veritatis similique dolorem quibusdam unde possimus doloremque magni!</p>
                    <p class="card-text"><small class="text-body-secondary">You can do it.</small></p>
                </div>
            </div>
        </div>
    </div>
</main>
